{% extends 'base.html' %}
{% block content %}
	<h3>Hi There!</h3>
	    <h4> {{ course.name }}</h4>
	    <h5> {{ course.subtitle }}</h5>
	    <h6> {{ course.prof }}</h6>
	    {%for j in regs%}
        	<ul>
        		<li> {{j.student}}</li>
        	</ul>
        {%endfor%}
        {%if is_course_prof%}
        is_prof
        {% elif can_join%}
        <a href="{% url 'join_course' course.pk %}">Join {{ course.name }}</a></h4>
        {% elif can_leave%}
        <a href="{% url 'leave_course' course.pk %}">Leave {{ course.name }}</a></h4>
        {%endif%}
        <h3>Messages:</h3>
        {%for i in messages%}
        <a href="{% url 'message' i.pk%}"> {{i.title}}</a>
        {%endfor%}


{%endblock%}